<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JPMChallenge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E2AA4FA1EC7A907006B53F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EF384831EC2BFC7003FBDA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EF384971EC2BFC8003FBDA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
